.our-happy-customers {
    font-family: 'Satoshi', sans-serif;
    height: 100%;
    max-height: 338px;
    margin: 80px 0;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    max-width: 1440px;
}

.our-happy-customers .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1240px;
    box-sizing: border-box;
    margin: 0 auto;
}

.our-happy-customers .top .title {
    font-family: 'Candal', sans-serif;
    font-size: 48px;
    font-weight: 700;
    height: 100%;
    max-height: 58px;
}

.our-happy-customers .top .btns {
    display: flex;
    gap: 16px;
    cursor: pointer;
}

.our-happy-customers .top .btns .btn {
    width: 24px;
    height: 24px;
}

.our-happy-customers .top .btns .btn:hover path {
    fill: #fc5555;
}

.our-happy-customers .bottom {
    display: flex;
    gap: 20px;
    overflow: hidden;
    flex-wrap: nowrap;
    justify-content: center;
}

.our-happy-customers .bottom .review-card {
    width: 400px;
    max-height: 240px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 28px 32px;
    flex: 0 0 auto;
    transition: transform 0.6s ease-in-out;
    box-sizing: border-box;
}

.our-happy-customers .bottom .review-card:first-child,
.our-happy-customers .bottom .review-card:last-child {
    filter: blur(2px);
    pointer-events: none;
}

.our-happy-customers .bottom .review-card .star-review {
    margin-bottom: 10px;
    max-height: 23px;
    height: 100%;
    width: 100%;
}

.our-happy-customers .bottom .review-card .author {
    width: 100%;
    height: 100%;
    max-height: 24px;
    margin-bottom: 12px;
    display: flex;
    gap: 4px;
}

.our-happy-customers .bottom .review-card .author .name-author {
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
}

.our-happy-customers .bottom .review-card .content {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    opacity: 0.6;
    width: 100%;
    max-width: 336px;
}

@media (max-width: 768px) {
    .our-happy-customers {
        max-height: 282px;
        height: 100%;
        margin: 50px 0;
        padding: 0 16px;
        width: 100%;
        row-gap: 24px;
    }

    .our-happy-customers .top {
        max-width: 100%;
        max-height: 72px;
        height: 100%;
        white-space: wrap;
    }

    .our-happy-customers .top .title {
        font-size: 32px;
        line-height: 36px;
        text-align: left;
        max-height: 72px;
    }

    .our-happy-customers .top .btns .btn {
        width: 20px;
        height: 20px;
    }

    .our-happy-customers .bottom {
        flex: 1;
        flex-direction: row;
        overflow-x: auto;
        max-width: 358px;
        width: 100%;
        max-height: 186px;
        height: 100%;
        margin: 0 auto;
    }

    .our-happy-customers .bottom .review-card {
        max-width: 358px;
        width: 100%;
        height: 100%;
        padding: 24px;
        flex: 0 0 auto;
    }

    .our-happy-customers .bottom .review-card:nth-child(n+2) {
        display: none;
    }

    .our-happy-customers .bottom .review-card .author .name-author {
        font-size: 16px;
    }

    .our-happy-customers .bottom .review-card .content {
        font-size: 14px;
        max-width: 310px;
    }

    .our-happy-customers .bottom .review-card:first-child,
    .our-happy-customers .bottom .review-card:last-child {
        filter: blur(0);
        pointer-events: none;
    }
}

@media (max-width: 480px) {}