.container-signup {
    margin: 0 auto;
}

.signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #f0f2f5;
    font-family: 'Satoshi', sans-serif;
    padding: 50px 50px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    gap: 20px;
    position: relative;
    margin: 50px 0;
}

.signup .img-back {
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 30px;
    margin-left: 30px;
}

.signup .form-signup {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.signup .title {
    font-size: 24px;
    font-weight: 700;
    color: #333333;
    text-align: center;
}

.signup form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
}

.signup form .input-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.signup .input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.signup .input-wrapper input {
    padding: 12px;
    border: 1px solid #cccccc;
    border-radius: 10px;
    font-size: 16px;
    width: 100%;
    transition: border-color 0.3s;
}

.signup .input-wrapper .icon-show {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    max-width: 24px;
    max-height: 24px;
    cursor: pointer;
}

.signup form label {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.signup form input {
    padding: 12px;
    border: 1px solid #cccccc;
    border-radius: 10px;
    font-size: 16px;
    width: 100%;
    transition: border-color 0.3s;
}

.signup form input:focus {
    border-color: #000000;
    outline: none;
}

.signup form button {
    padding: 12px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
}

.signup form button:hover {
    background-color: #333333;
}

@media (max-width: 768px) {
    .container-signup {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
    }

    .signup {
        padding: 20px 20px;
        margin: 20px 0;
        max-width: 350px;
        border-radius: 15px;
        box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
    }

    .signup .title {
        font-size: 18px;
        margin-bottom: 6px;
    }

    .signup .img-back {
        margin-top: 15px;
        margin-left: 15px;
    }

    .signup .form-signup,
    .signup form {
        gap: 12px;
    }

    .signup .input-wrapper input,
    .signup form input {
        padding: 8px;
        font-size: 13px;
    }

    .signup .input-wrapper .icon-show {
        right: 8px;
    }

    .signup form button {
        padding: 8px;
        font-size: 13px;
    }
}